body {
  margin: 0;
  font-family: 'Mali', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 186, 199)
}

 .border-black{
  border-style: dotted;
  border-color: white;
} 
.top-space{
  margin-top: 20px;
}
.border-h1{
  display: inline-block;
  border-style: dotted;
  border-color: white;
  padding: 25px;
}

img {
  width: 30%;
  height: auto;
}